body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

h1 {
  font-size: 60px;
}

.name {
  color: orange;
}

.ex {
  color: orangered;
  font-size: 150%;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half {
  width: 50%;
  padding-left: 5%;
}

.half img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(rgb(252, 32, 80), rgb(37, 5, 12));
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.top-sec {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half-2 {
  width: 50%;
  padding-left: 5%;
}
.half-2 img {
  width: 80%;
}
.ex-2 {
  color: orangered;
}
.resume-button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(rgb(56, 14, 26), rgb(255, 0, 43));
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.dream-section {
  background-image: url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
